* {
  font-family: "Inter", sans-serif;
}

:root {
  --background-color: radial-gradient(905px at 4.9% 85.8%, rgb(255, 243, 242) 0.1%, rgb(255, 247, 220) 57.6%);
  --btn-color: #9376E0;
  --btn-hover-color: #9376E0;
  --gray-text-color: #929292;
}

.app {
  max-width: 600px;
  margin: 60px auto;
  border-radius: 8px;
  padding: 20px;
  background: var(--background-color);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.units a {
  color: var(--btn-color);
  text-decoration: none;
}

form {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

form .search-input {
  border: none;
}

form .btn-primary {
  background-color: var(--btn-color);
  border: none;
}

form .btn:hover {
  background-color: var(--btn-hover-color);
  border: none;
}

.search-city-input {
  flex-grow: 3;
}

.search-city-btn {
  flex-grow: 1;
}

#city {
  font-family: "Lato", sans-serif;
  margin: 0;
}

.weather-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

li {
  list-style: none;
}

#description {
  text-transform: capitalize;
}

.name-current-city {
  text-align: left;
  grid-column: 1;
}

.current-weather-info-list {
  padding: 0;
  margin: 0;
  color: var(--gray-text-color);
}

.current-weather {
  display: flex;
  justify-content: flex-end;
  gap: 4px;
}

.current-weather p {
  margin: 0;
  align-self: center;
}

.temperature-wrapper {
  display: flex;
}

#temperature {
  font-size: 4rem;
  font-family: "Lato", sans-serif;
  line-height: 1;
}

.units {
  font-size: 2rem;
  align-self: center;
}

.weather-forecast {
  margin-top: 20px;
}

.weather-forecast-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.weather-forecast-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather-forecast-date {
  font-size: 20px;
  opacity: 0.6;
  font-family: "Lato", sans-serif;
}

.weather-forecast-temp-min {
  color: var(--gray-text-color);
}

small {
  margin-top: 20px;
}